<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Description Goes Here">
  <title>Stream Search</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  <link rel="stylesheet" href="/main.css" />
</head>


<body>

  <header>
    <nav class="navbar">
      <a class="navbar-brand" href="dashboard.html"><img src="img/streamlogo2.png" class="logo" alt="Stream Search Logo"></a>
      <ul class="nav navbar-right">
        <li><a href="/logout" class="navbar-right">Logout</a></li>
      </ul>
    </nav>
  </header>


  <main class="container-fluid">
    <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <h1 class="js-welcome">Welcome</h1>
      <form method="link" action="dashboard.html" class="js-returnButton hidden"><button class="btn btn-sm btn-watch">Return to Dashboard</button></form>
    </div>

    <!-- Search Section -->
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <form id="searchTitle">
          <label for="search">Search for a Movie or TV Show</label>
          <input type="text" name="search" id="search" class="justwatch" placeholder="Movie/TV Show Title..." />
          <button type="submit" class="btn form-btn justwatch"><i class="glyphicon glyphicon-search"></i></button>
        </form>
      </div>

      <div class="col-xs-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <form id="searchUsers">
          <label for="search">Search for a Another User's Watchlist</label>
          <input type="text" name="userSearch" id="userSearch" class="justwatch" placeholder="Username..." />
          <button type="submit" class="btn form-btn justwatch"><i class="glyphicon glyphicon-search"></i></button>
        </form>
      </div>
    </div>

    <!-- Dashboard Watchlist Section -->
    <div class="js-watchlist">
      <h3 class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 js-your-watchlist">Your Watchlist</h3>

      <div class="js-list-item templ col-xs-12 col-sm-6 col-md-4 col-lg-4 list-item">
        <div class="row item">
          <div class="col-xs-4 item-img">
            <img src="" class="js-item-img item-img" alt="">
          </div>
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-12">
                <a href="" class="js-item-link title-overflow">
                  <span class="js-item-title item-title ellipsis"></span>
                </a>
              </div>
              <div class="col-xs-5 clarity-center js-user-options" title="Mark as Watched">
                <span class="clarity">Watched?</span>
                <button class="js-mark-watched btn-watch btn btn-sm"><i class="glyphicon glyphicon-eye-open js-glyph-ok"></i></button>
              </div>
              <div class="col-xs-5 clarity-center js-user-options" title="Remove from List">
                <span class="clarity">Remove</span>
                <button class="js-remove-title btn-remove btn btn-sm"><i class="glyphicon glyphicon-remove js-glpyh-remove"></i></button>
              </div>
              <div class="col-xs-5 clarity-center hidden js-addButton" title="Add to Watchlist">
                <button class="js-addToWatchList btn btn-sm btn-watch btn-add" media-id="" title="" poster="" object-type="" path="">Add to Watchlist</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="js-watchlist-results col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        </div>
      </div>
    </div>

    <!-- User Search Results Section -->
    <div class="js-userResults row hidden">
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 ">
        <h3>User Search Results</h3>
        <p class="js-noUsers hidden"></p>
        <div class="js-userResult templ">
          <a href="#" class="js-username username-title"></a>
          <p class="js-name"></p>
          <p class="js-listCount"></p>
        </div>
        <div class="js-userResults-list">
        </div>
      </div>
    </div>

    <!-- Title Search Results Section -->
    <div class="results hidden">
      <div>
        <h3 class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1">Search Results</h3>
        <p class="js-noResults col-sm-offset-1 col-md-offset-1 col-lg-offset-1 hidden"></p>
      </div>
      <div class="js-result templ">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 result-container">
          <div class="row">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
              <img src="" class="js-img item-img" alt="">
            </div>
            <div class="col-xs-8 col-lg-10">
              <h4 class="item-title"></h4>
              <div class="row">
                <div class="col-xs-4 col-lg-1">
                  <span class="js-release"></span>
                </div>
                <div class="col-xs-5 col-lg-1">
                  <button class="js-addToWatchList btn btn-sm btn-watch btn-add" media-id="" title="" poster="" object-type="" path="">Add to Watchlist</button>
                </div>
                <div class="col-xs-12">
                  <p class="item-description"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="js-offer-list pad">
              <div class="js-offer-type-cinema">
                <span class="js-offer-bar cinema bar"></span>
                <div class="js-cinema-row offer-rows">
                </div>
              </div>
              <div class="js-offer-type-sub">
                <span class="js-offer-bar sub bar"></span>
                <div class="js-sub-row offer-rows">
                </div>
              </div>
              <div class="js-offer-type-rent">
                <span class="js-offer-bar rent bar"></span>
                <div class="js-rent-row offer-rows">
                </div>
              </div>
              <div class="js-offer-type-buy">
                  <span class="js-offer-bar buy bar"></span>
                  <div class="js-buy-row offer-rows">
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="js-item-offers alignment templ">
        <a href="" class="js-offer-link">
          <img src="" class="js-offer-img offer-img">
          <span class="js-presentation presentation"></span>
        </a>
      </div>
      <div class="js-result-container row">
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/ff16f58213.js"></script>
  <script src="/dashboard.js"></script>
</body>

</html>