<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Description Goes Here">
  <title>Stream Search</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
  <link rel="stylesheet" href="/bootstrap.css" />
  <link rel="stylesheet" href="/bootstrap-theme.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  <link rel="stylesheet" href="/main.css" />
</head>

<body>

  <header>
    <navbar>
      <div class="home">
        <a href="dashboard.html">Home</a>
      </div>
      <div class="logout">
      <a href="/logout">Logout</a>
    </div>
    </navbar>
  </header>
  
  <main>
    <div>
      <h1 class="js-welcome">Welcome</h1>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form id="searchTitle">
          <h5>Search for a Movie or TV Show</h5>
          <label for="search">Enter Search Terms Here</label>
          <input type="text" name="search" id="search" />
          <button type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </form>
      </div>
      <div class="col-xs-12">
        <form id="searchUsers">
          <h5>Search for a Another User's Watchlist</h5>
          <label for="search">Enter Username Here</label>
          <input type="text" name="userSearch" id="userSearch" />
          <button type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </form>
      </div>
    </div>
    <div class="watchlist">
      <h3>Your Watchlist</h3>
      <div class="js-list-item templ">
        <div class="row item">
          <div class="col-xs-4 col-sm-2 item-img">
            <img src="" class="js-item-img item-img" alt="">
          </div>
          <div class="col-xs-8 col-sm-9">
            <a href="" class="js-item-link">
              <span class="js-item-title item-title"></span>
            </a>
            <div class="row">
                  <div class="col-xs-11 col-sm-4" title="Mark as Watched">
                <button class="js-mark-watched btn-watch"><i class="glyphicon glyphicon-ok js-glyph-ok"></i> Mark as Watched</button>
              </div>
              <div class="col-xs-11 col-sm-4" title="Remove from List">
                <button class="js-remove-title btn-remove"><i class="glyphicon glyphicon-remove js-glpyh-remove"></i> Remove</button>
              </div>
    
            </div>
          </div>
        </div>
      </div>
      <div class="js-watchlist-results">
      </div>
    </div>
    <div class="userResults hidden">
      <div>
        <h3>User Search Results</h3>
      </div>
      <div>
        <div class="js-userResult templ">
          <a href="#" class="js-username username-title"></a>
          <p class="js-name"></p>
          <p class="js-listCount"></p>
        </div>
      </div>
    </div>
    <div class="results hidden">
      <div>
        <h3>Search Results</h3>
      </div>
      <div class="js-result templ col-sm-10">
          <h4 class="item-title"></h4>
          <span class="js-release"></span>
          <button class="js-addToWatchList" media-id="" title="" poster="" object-type="" path="">Add to Watchlist</button>
          <p class="item-description"></p>
          <div class="js-offer-list">
            <div class="row">
              <div class="js-offer-type-sub col-sm-10">
                <span class="js-offer-bar"></span>
                <div class="row js-sub-row">
                </div>
              </div>
              <div class="js-offer-type-rent col-sm-10">
                <span class="js-offer-bar"></span>
                <div class="row js-rent-row">
                </div>
              </div>
              <div class="js-offer-type-buy col-sm-10">
                <span class="js-offer-bar"></span>
                <div class="row js-buy-row">
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="js-item-offers col-xs-1 col-sm-1 templ">
        <a href="" class="js-offer-link">
          <img src="" class="js-offer-img offer-img">
          <span class="js-presentation"></span>
        </a>      
      </div>
      <div class="js-result-container row">
      </div>
    </div>

  </main>
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script src="/dashboard.js"></script>
</body>

</html>