<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Description Goes Here">
  <title>Stream Search</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <main>
    <div>
      <h1>Stream Search</h1>
    </div>
    <div class="newUsers">
      <form id="createUser">
        <h2>Sign Up for a Username</h2>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" />
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" />
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="oldUsers">
      <form id="userLogin">
        <h2>Existing Users Login Here</h2>
        <label for="username">Username</label>
        <input type="text" name="username" id="existingUsername" />
        <label for="password">Password</label>
        <input type="password" name="password" id="existingPassword" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script src="/app.js"></script>
</body>

</html>