<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Description Goes Here">
  <title>Stream Search</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
</head>

<body>

  <header class="background-img header-height">
    <nav class="navbar">
      <a class="navbar-brand" href="index.html"><img src="img/streamlogo2.png" alt="Stream Search Logo" class="brand-logo"></a>
      <ul class="nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-float align-dropdown" data-toggle="dropdown" role="button">Sign In<span class="caret"></span></a>
          <div class="dropdown-menu" id="formLogin">
            <div class="container-fluid nav-login">
              <form id="userLogin">
                <div class="form-group">
                  <label class="">Username</label>
                  <input type="text" name="username" class="form-control" id="existingUsername" required />
                </div>
                <div class="form-group">
                  <label class="">Password</label>
                  <input type="password" name="password" class="form-control" id="existingPassword" required />
                  <br class="">
                </div>
                <button type="submit" class="btn form-btn">Login</button>
                <label for="password" class="hidden login-check error">Sorry, the username or password you entered is incorrect!</label>
                <label for="password" class="hidden fail-check error">500 status code! Internal server error.</label>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <div class="container">
      <div class="splash-div">
        <h1 class="splash-title">Welcome to Stream Search!</h1>
        <h2 class="splash-subtitle">Where we figure out how to watch your show or movie, so you don't have to.</h2>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <main>

      <section class="mobile-header">
        <h1 class="body-title">Welcome to Stream Search!</h1>
        <h2 class="body-subtitle">Where we figure out how to watch your show or movie, so you don't have to.</h2>
      </section>

      <section class="row first-call gradient">
        <div class="col-xs-12">
          <div class="text-center">
            <h3>Sign up now to get started!</h3>
            <h5>Or keep scrolling to learn more.</h5>
          </div>
          <div class="row">
            <div class="newUsers">
              <form id="createUser">
                <h4 class="font-weight-bold text-center">New Users Sign Up Here!</h4>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" required />
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" required />
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required/>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required />
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required />
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" id="password2" required />
                <button type="submit" class="btn form-btn">Submit</button>
                <label for="password2" class="hidden pass-check">Passwords Do Not Match!</label>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="row intro">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="row row-eq-height">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 intro-pic">
              <img src="img/intro-choices.jpg" class="intro-img" alt="Silhouette of man standing in front of a wall of tv screens unable to choose.">
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8 intro-text">
              <h3 class="intro-question">Wait, what is Stream Search?</h3>
              <p>Figuring out what show or movie to watch is hard enough, but once you know what you want to watch, you then
                have to figure out how to watch it.</p>
              <ul>
                <li>Is it available for rent or purchase online?</li>
                <li>Is it available on a streaming service I’m already paying for?</li>
                <li>Is it available on a free streaming service with commercials?</li>
              </ul>
              <p>This is where Stream Search comes in. Simply enter the title of the movie or show you want to watch, and we
                will tell you if it can be found online and the ways you can watch it.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="feature-section row gradient">
        <div class="feature-text-div col-xs-12">
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 border-box">
              <h3 class="intro-question underline">Ok, so what does a search show me?</h3>
              <p>When you search for the title of a series or movie you want to watch, Search Stream will show you the online
                viewing options you have available, if there are any. You can then choose the streaming service to which
                you are subscribed or purchase a viewing option from an online retailer. Just simply click on the link, and
                we’ll send you to the appropriate site.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 feature-img-div">
          <img src="img/titlesearch.jpg" class="screenshot" alt="Example of a search result for Gladiator">
        </div>
      </section>

      <section class="feature-section row gradient">
        <div class="feature-text-div col-xs-12">
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 border-box">
              <h3 class="intro-question underline">So why should I register?</h3>
              <p>Well, registering allows you to use the site and create your own personal watchlist. (Please know your information
                will always remain private and will never be sold.) As you search for various titles that you want to watch,
                you can click on the “Add to Watchlist” button on the desired result, and it will be added to your watchlist.
                Your watchlist is displayed on your dashboard every time you log in to the site.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 feature-img-div">
          <img src="img/dashboard.jpg" class="screenshot" alt="Screenshot of a user's dashboard displaying their watchlist">
        </div>
      </section>

      <section class="feature-section row gradient last-section">
        <div class="feature-text-div col-xs-12">
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 border-box">
              <h3 class="intro-question underline">Anything else?</h3>
              <p>Yes! I’m glad you asked. Naturally, you will have told all of your friends about this site, and they will have
                all registered accounts on here as well. If you’re ever curious about what is in a friend’s watchlist, or
                if you need an idea for something to watch, you can search for your friend’s name, and see what they have
                added to their list. Then you can simply add it to yours!
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 feature-img-div">
          <img src="img/usersearchresults.jpg" class="screenshot" alt="Screenshot of another user's watchlist">
        </div>
      </section>

    </main>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a href="https://arcox80.github.io/streamsearch/"><img src="img/streamlogo2.png" alt="Stream Search logo" class="logo bottom-space"></a>
          <p class="thanks">This page was made possible by the <a href="https://www.justwatch.com/">JustWatch API</a></p>
          <p>&copy; 2017 Stream Search</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="thanks-top">Thanks for visiting Stream Search!</p>
          <p>Click <a href="#">here</a> to see my portfolio page.</p>
          <p class="contact">Contact:
            <a href="https://www.linkedin.com/in/andrew-cox-4b22b79a">
              <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-linkedin fa-stack-1x"></i></span>
            </a>
            <a href="https://github.com/arcox80">
              <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-2x fa-inverse"></i></span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/ff16f58213.js"></script>
  <script src="/app.js"></script>
</body>

</html>