* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.templ {
  display: none;
}

a {
  color: #78a6b8;
  text-decoration: none;
}

img {
  width: 100%;
}

img.logo {
  width: 125px;
}

img.brand-logo {
  width: 75px;
}

img.offer-img {
  border-radius: 11px;
  width: 50px;
  height: 50px;
}

input {
  color: #000;
}

header.background-img {
  background: url(img/str.jpg) no-repeat center center;
  background-size: cover;
  height: 40%;
}

nav {
  background-color: rgb(24, 37, 49);
  border-bottom: 1px solid #1d242a;
}

a.navbar-brand {
  padding: 10px 15px;
}

a.align-dropdown {
  text-align: right;
}

.nav>li>a {
  color: #d5d5d5;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  color: #e2b100;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}

.dropdown-menu {
  min-width: 317px;
  background-color: #051d28;
  right: 1%;
  border: 1px solid #ccc;
}

div.container-fluid.nav-login {
  padding-right: 15px;
}

p.logout {
  margin-right: 8.33333%;
  text-align: right;
}

.splash-div {
  position: relative;
  padding-top: 30px;
}

.splash-title {
  display: none;
}

.splash-subtitle {
  display: none;
}

body {
  background-color: #0c151d;
  color: #d5d5d5;
  font-family: 'Open Sans', Arial, sans-serif;
}

.mobile-header {
  text-align: center;
  background: rgb(24,37,49);
  margin: -20px -15px auto -15px;
  padding: 15px;
}

.body-title {
  font-weight: bold;
  font-size: 4rem;
  color: #ffffff;
}

.body-subtitle {
  font-size: 1.8rem;
  font-style: italic;
}

.gradient {
  background: #ccc;
  background: -webkit-radial-gradient(#fff, #ccc, #0c151d); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#fff, #ccc, #0c151d); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#fff, #ccc, #0c151d); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#fff, #ccc, #0c151d); /* Standard syntax */
}

.first-call {
  color: #000;
  padding-bottom: 15px;
}

.newUsers {
  background-color: #0c151d;
  border: 1px solid #fff;
  color: #d5d5d5;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  max-width: 267px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

button.form-btn {
  height: 26px;
  padding: 2px 12px;
  color: #183f4e;
  vertical-align: top;
}

.intro-pic {
  padding-top: 18px;
}

.intro-question {
  font-style: italic;
  color: #fff;
  font-weight: bolder;
  text-align: center;
}

.search-section {
  text-align: center;
}

.search-img-div {
  margin-top: 15px;
}

.search-img {
  border: 3px solid #fff;
}

.search-text-div {
  background: #0c151d;
  margin-top: 15px;
}


div.clarity-center {
  text-align: center;
}

span.clarity {
  display: block;
}

button.justwatch {
  margin-left: -4px;
  border-radius: 0 4px 4px 0;
}

button.form-btn:hover {
  background-color: #e2b100;
}

button.btn-watch {
  background-color: #5cb85c;
}

button.btn-watch:hover {
  background-color: #49f749;
  color: #fff;
}

button.watched {
  background-color: #49f749;
  color: #fff;
}

button.btn-remove {
  background-color: #d9534f;
}

button.btn-remove:hover {
  background-color: #e81d17;
  color: #fff;
}

input[type='text'].justwatch {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  border-style: solid;
  border-radius: 4px 0 0 4px;
}

form label {
  display: block;
  margin-top: 10px;
}

label.error {
  color: #ff7600;
}

.title-overflow {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

span.item-title {
  display: block;
  font-size: 2rem;
  margin-bottom: 5px;
}

.item {
  margin-bottom: 10px;
}

.list-item {
  margin-bottom: 10px;
}

div.item-img {
  max-width: 121px;
  padding-right: 5px;
}

.glyphicon.glyphicon-ok {
  font-size: 20px;
}

.glyphicon.glyphicon-remove {
  font-size: 20px;
}

.glyphicon.glyphicon-eye-open {
  font-size: 20px;
}

.ellipsis {
  display: table-cell;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.result-container {
  margin-bottom: 20px;
}

.offers {
  margin-top: 10px;
}

.offer-rows {
  text-align: center;
}

.btn-add {
  margin-bottom: 5px;
}

span.bar {
  margin-bottom: 5px;
  text-align: center;
  display: block;
  width: auto;
}

span.cinema {
  background-color: #000;
  color: #d6d6d6;
}

span.sub {
  background-color: #e6e6e6;
  color: #6d6d6d;
}

span.rent {
  background-color: #7c7c7c;
  color: #d6d6d6;
}

span.buy {
  background-color: #373737;
  color: #d6d6d6;
}

footer {
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: rgb(24, 37, 49);
  padding: 20px 10px 10px 10px;
  margin-top: 20px;
  text-align: center;
}

.thanks {
  margin-top: 0;
}

.copyright {
  margin-top: 0;
}

footer .row {
  margin-bottom: 0;
}

.left {
  text-align: left;
}

.thanks-top {
  margin-top: 0;
}

.fa-linkedin:hover, .fa-github:hover {
  color: gray;
}

.contact a {
  color: #243743;
}

.bottom-space {
  margin-bottom: 10px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .item-img {
    max-width: 200px;
  }
  input.justwatch {
    width: 33%;
  }
  .navbar-right {
    margin-right: 0;
  }
  header {
    min-height: 432px;
  }
  .splash-title {
    display: block;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
    font-size: 5rem;
    color: #ffffff;
  }
  .splash-subtitle {
    display: block;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 2px #000;
    color: #ffffff;
  }
  .mobile-header {
    display: none;
  }
}