* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.templ {
  display: none;
}

header {
  background-color: #051d28;
  border-bottom: 1px solid #1d242a;
  margin-left: -10px;
}

nav.navbar {
  margin-bottom: 0;
}

div.row.mynav {
  padding: 5px;
}

.container-fluid>.navbar-header {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
}

p.logout {
  margin-right: 8.33333%;
  text-align: right;
}

.container.nav-login {
  width: 300px;
  color: darkslategray;
}

.nav-login form {
  width: 250px;
}

body {
  background-color: #0c151d;
  color: #d5d5d5;
  font-family: 'Open Sans', Arial, sans-serif;
}

a {
  color: #78a6b8;
  text-decoration: none;
}

img {
  width: 100%;
}

img.logo {
  width: 125px;
}

img.offer-img {
  border-radius: 11px;
  width: 50px;
  height: 50px;
}

input {
  color: #000;
}

button {
  background-color: #d5d5d5;
  margin-bottom: 5px;
}

button.form-btn {
  height: 26px;
  padding: 2px 12px;
  color: #183f4e;
  vertical-align: top;
}

div.clarity-center {
  text-align: center;
}

span.clarity {
  display: block;
}

button.justwatch {
  margin-left: -4px;
  border-radius: 0 4px 4px 0;
}

button.form-btn:hover {
  background-color: #e2b100;
}

button.btn-watch {
  background-color: #5cb85c;
}

button.btn-watch:hover {
  background-color: #49f749;
  color: #fff;
}

button.watched {
  background-color: #49f749;
  color: #fff;
}

button.btn-remove {
  background-color: #d9534f;
}

button.btn-remove:hover {
  background-color: #e81d17;
  color: #fff;
}

input[type='text'].justwatch {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  border-style: solid;
  border-radius: 4px 0 0 4px;
}

form label {
  display: block;
  margin-top: 10px;
}

label.error {
  color: #ff7600;
}

.title-overflow {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

span.item-title {
  display: block;
  font-size: 2rem;
  margin-bottom: 5px;
}

.item {
  margin-bottom: 10px;
}

.list-item {
  margin-bottom: 10px;
}

div.item-img {
  max-width: 121px;
  padding-right: 5px;
}

.glyphicon.glyphicon-ok {
  font-size: 20px;
}

.glyphicon.glyphicon-remove {
  font-size: 20px;
}

.glyphicon.glyphicon-eye-open {
  font-size: 20px;
}

.ellipsis {
  display: table-cell;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.result-container {
  margin-bottom: 20px;
}

.offers {
  margin-top: 10px;
}

.offer-rows {
  text-align: center;
}

.btn-add {
  margin-bottom: 5px;
}

span.bar {
  margin-bottom: 5px;
  text-align: center;
  display: block;
  width: auto;
}

span.cinema {
  background-color: #000;
  color: #d6d6d6;
}

span.sub {
  background-color: #e6e6e6;
  color: #6d6d6d;
}

span.rent {
  background-color: #7c7c7c;
  color: #d6d6d6;
}

span.buy {
  background-color: #373737;
  color: #d6d6d6;
}

footer {
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #181b1d;
  padding: 20px 10px 10px 10px;
  margin-top: 20px;
  text-align: center;
}

.thanks {
  margin-top: 0;
}

.copyright {
  margin-top: 0;
}

footer .row {
  margin-bottom: 0;
}

.left {
  text-align: left;
}

.thanks-top {
  margin-top: 0;
}

.fa-linkedin:hover, .fa-github:hover {
  color: gray;
}

.contact a {
  color: #243743;
}

.bottom-space {
  margin-bottom: 10px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .item-img {
    max-width: 200px;
  }
  div.navbar-header.nav-offset {
    margin-left: 8.33333333%;
  }

  input.justwatch {
    width: 33%;
  }
}